{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Registro de usuario</h1>
                {% csrf_token %}
                {{error}}
                
                <div class="mb-3">
                    <label class="fw-bolder" for="username">Nombre de usuario</label>
                    <input type="text" name="username" id="username"
                    class="form-control" placeholder="Escribe tu nombre">
                </div>
                <div class="mb-3">
                    <label class="fw-bolder" for="password1">Contraseña</label>
                    <input type="password" name="password1" id="password1"
                    class="form-control" placeholder="Escribe tu contraseña">
                </div>
                <div class="mb-3">
                    <label class="fw-bolder" for="password2">Confirma tu contraseña</label>
                    <input type="password" name="password2" id="password2"
                    class="form-control" placeholder="Confirma tu contraseña">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">
                        Registrarse
                    </button>
                </div>

            </form>
        </div>
    </div>
</main>

{% endblock %}