{% extends "base.html" %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-3 text-center fw-bold">Tareas</h1>
            <ul class="list-group">
                {% for tarea in tareas %}
                <li class="list-group-item">
                    <header>
                        {% if tarea.importante %}
                        <h2 class="text-primary"> {{tarea.titulo}} </h2>
                    {% else %}
                        <h2> {{tarea.titulo}} </h2>
                    {% endif %}
                    </header>
                    <p> {{tarea.descripcion}} </p>
                    {% if tarea.completada != None %}
                    <p> {{tarea.completada}} </p>
                    {% endif %}

                    <a href="{% url 'task_details' tarea.id %}" class="btn btn-info text-reset">detalles</a>  
                </li>
                {% endfor %}
            </ul>
        
            <button class="btn btn-primary" >
                <a href="crear/" class="text-reset">
                    Nueva tarea
                </a>
            </button>
        </div>
    </div>
</main>
    
{% endblock %}